<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Examen M3 Final Rub</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  /* RESET CSS */
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  /* font face */
  @font-face {
    font-family: SF-Pro-Regular;
    src: url(fonts/SF-Pro-Display-Regular.otf);
  }

  @font-face {
    font-family: SF-Pro-Semibold;
    src: url(fonts/SF-Pro-Display-Semibold.otf);
  }

  @font-face {
    font-family: SF-Pro-Medium;
    src: url(fonts/SF-Pro-Display-Medium.otf);
  }

  @font-face {
    font-family: SF-Pro-Text;
    src: url(fonts/SF-Pro-Text-Regular.otf);
  }

  /* Root */
  :root {
  }

  html {
    font-size: 1rem;
  }

  body {
    background: black;
    color: white;
  }

  body,
  input,
  button {
    font-family: "sans-serif";
  }

  button {
    cursor: pointer;
  }

  header {
    height: 60px;
    background-color: rgba(22, 22, 23, 1);
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: SF-Pro-Text;
  }

  h1 {
    font-family: SF-Pro-Text;
  }

  p {
    color: #868686;
    font-family: SF-Pro-Medium;
  }
</style>
